@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
.container{
  position: relative;
  padding: 0 100px;
  min-height: 100vh;
}
.container::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: -2;
}
.container::after{
  content: "Enjoy Life";
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 15vw;
  z-index: -4;
  font-weight: 700;
  color: #000;
  opacity: 0.04;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
header .logo{
  font-weight: 700;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 30px;
}
header .logo span{
  color: #25CCF7;
}
header ul{
  position: relative;
  display: flex
}
header ul li{
  list-style: none;
  margin: 0px 20px;
}
header ul li a{
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 4px 10px;
}
header ul li:nth-child(3) a,
header ul li:nth-child(4) a{
  color: #fff;
}
header ul li a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: 0.5s;
  background: #25CCF7;
}
header ul li a:hover::before,
header ul li a.active::before{
  width: 40px;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textDesc{
  position: relative;
  max-width: 500px
}
.content .textDesc div{
  display: none;
}
.content .textDesc div.active{
  display: initial;
}
.content .textDesc h2{
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 800;
  color: #333;
  line-height: 1.2em;
}
.content .textDesc p{
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
  margin: 20px 0;
}
.content .textDesc a{
  text-decoration: none;
  color: #333;
  position: relative;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
}
.content .textDesc a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #25CCF7;
  z-index: -3;
  transition: 0.5s ease-in-out;
}
.content .textDesc a:hover::before{
  width: 100%;
}

.content .imgDesc{
  position: relative;
  width: 440px;
  height: 440px;
  background: #000;
}
.content img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  opacity: 0;
}
.content img.active{
  opacity: 1;
}
.option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.option .sosmed,
.option .arrow
{
  position: relative;
  display: flex
}
.option ul li{
  position: relative;
  list-style: none;
  margin-right: 30px
}
.option .sosmed li img{
  display: inline-block;
  transition: 0.2s ease-in-out;
}
.option .sosmed li:hover img{
  transform: translateY(-10px);
}
.option .arrow li{
  padding: 5px;
  cursor: pointer;
  filter: invert(1);
  border: 2px solid #000;
  transition: 0.2s ease-in-out;
}
.option .arrow li:hover{
  opacity: 0.5;
}
img{
  width:35px;
}
.menuIcon{
  display: none;
}
@media(max-width: 992px){
  .container{
    padding: 20px 50px;
  }
  .container::before{
    display: none;
  }
  header{
    padding: 0;
  }
  header ul li:nth-child(3) a,
  header ul li:nth-child(4) a{
    color: #333;
  }
  .content .textDesc h2{
    font-size: 30px;
  }
  .content {
    margin-top: 0;
    flex-direction: column-reverse;
  }
  .content .imgDesc{
    width: 100%;
    height: 40vh;
    margin: 20px 0;
  }
  .content .textDesc{
    max-width: 100%;
  }
  .option .arrow li{
    filter: invert(0);
  }
  header ul{
    display: none;
    /* display: initial; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    padding: 100px 0;
  }
  header.active ul{
    display: initial;
  }
  header ul li{
    padding: 20px;
    text-align: center;
    font-size: 36px;
  }
  .menuIcon{
    display: initial;
    position: fixed;
    top: 25px;
    right: 20px;
    cursor: pointer;
    padding: 8px;
    z-index: 100000;
    background: url('../img/button.png') no-repeat;
    width: 34px;
    height: 34px;
    background-position: cover;
  }
}
